
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#dishes {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
    border-radius: 10px;
    background-color: aquamarine;
}

.dish {
    
    flex-direction: flex;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    background-color: crimson;
   
}

.title, .section-title, .section-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.dish-title {
    font-family: 'Poppins', sans-serif;
    text-align: center; 
    font-weight: bold;
    font-size: 21px;
    margin: 0; 
}


.dish-description{
    color: rgba(0, 0, 0, 0.616);
    text-align: center;
}

.dish-price{
    font-family: 'Poppins', sans-serif;
    display: grid;
    align-items: center;
    font-weight: bold;
    gap: 5px;
    font-size: 11px;
}

.dish-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img-menu {
    border-radius: 20px;
}

@media (max-width: 576px) {
    #dishes {
        flex-direction: column; /* Altera o layout para uma coluna em telas menores */
    }

    .dish {
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
    }
}
